*{
    margin: 0;
    padding: 0;
    
}
 
    /*Menu 1*/

#imagen-1{
	display: inline-block;
	margin-top: 500
}

.menu li{
	display: inline-block;
	text-decoration: none;
	position: relative;
	margin-left: 60px;
	margin-top: 300px;
	padding: 8px;
	
}

.menu {
	margin-top: -478px;
	margin-left: 160px;
}

 .suga-img-li .suga-img{
	border-radius: 100%;
	width: 40px;
	height: 40px;
}


    /*Logotipo Lab*/
#logotipo img{
    margin-top: 40px;
    text-align: center;
    margin-left: 300px;
}

   /*Menu Desplegable*/
 
.nav-tabs{
	background-color: #FFB800;
	margin-left:203px;
}
.nav-tabs > li > a{
	color: #000!important;
}
  
  /*Logotipo*/

.students p{
	margin-left:184px;
	font-size: 30px;
	margin-top:50px;
}


#porcentaje li{
	display: inline-block;
	font-size: 19px;
	margin-left:161px;
}

#students-text li{
	display: inline-block;
	margin-left:104px;
}

.students-graphic img{
	height: 312px;
	margin-top:-73px;
	margin-left:91px;

}

        /*Contenedor 2*/

.contenedor-2 .logros p{
	font-size: 30px;
	margin-left: 143px;
	margin-top: -400px;
}

#logros-porsentaje li{
    display: inline-block;
    font-size: 19px;


}

#logros li{
	display: inline-block;

	
}

#circulo-logros{
	display: inline-block;
	margin-top: 50px
	height: 10px;

}

.contenedor-2{
	display: inline-block; /*lo agrego la Pau*/
}

.contenedor-1{
	display: inline-block;  /*lo agrego la Pau*/
}


.promoter-score p{
	margin-top: 

}

              /*Profesores*/


.profesores-rating p{
	font-size: 30px;
	margin-left: 643px;

}

.jedi-rating h1{
	font-size: 40px;
    color: #FFB800;
    margin-left:1157px;
}

.jedi-rating img{

}


.triangulo img{
	height: 20px;
	margin-left:1214px;
	margin-top:-91;
}

.jedi-rating h5{
	margin-left: 1064px;
}

.jedi-rating img{
	margin-left: 1110px;

}



























         /*Contenedor 6 Jedis*/

.jedi-rating p{
	font-size: 30px;
	margin-left:1110px;

}

.jedi-rating h1{
	font-size: 40px;
    color: #FFB800;
    margin-left:1157px;
}

.jedi-rating img{

}


.triangulo img{
	height: 20px;
	margin-left:1214px;
	margin-top:-91;
}

.jedi-rating h5{
	margin-left: 1064px;
}

.jedi-rating img{
	margin-left: 1110px;

}



